<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <cachingConfiguration defaultCacheManager="ShortInMemoryPersistence">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="1" maximumElementsInCacheBeforeScavenging="100"
        numberToRemoveWhenScavenging="2" backingStoreName="Isolated Storage"
        name="InIsoStorePersistenceWithNullEncryption" />
      <add expirationPollFrequencyInSeconds="1" maximumElementsInCacheBeforeScavenging="10"
        numberToRemoveWhenScavenging="2" backingStoreName="Null Storage"
        name="ShortInMemoryPersistence" />
    </cacheManagers>
    <backingStores>
      <add partitionName="EntLib"            
        type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="Isolated Storage" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="Null Storage" />
    </backingStores>
    <!--<encryptionProviders>
    encryptionProviderName="nullEncryptor"
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.Tests.MockStorageEncryptionProvider, Microsoft.Practices.EnterpriseLibrary.Caching.Tests, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="nullEncryptor" />
    </encryptionProviders>-->
  </cachingConfiguration>
</configuration>