<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="badAssemblyConverter" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Tests.BadNameSection, Microsoft.Practices.EnterpriseLibrary.Common.Tests" />
		<section name ="dummy.local" type ="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
		<section name ="dummy.local2" type ="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
		<section name ="dummy.external" type ="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
    <section name="instrumentationConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Instrumentation.Configuration.InstrumentationConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <enterpriseLibrary.ConfigurationSource selectedSource="systemSource">
    <sources>
      <add name="fileSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" filePath="test.exe.config"/>
      <add name="systemSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  
  <instrumentationConfiguration performanceCountersEnabled="true"
      eventLoggingEnabled="true" wmiEnabled="true" />
	<badAssemblyConverter type="foo"/>

	<dummy.local name="local" value="10"/>
	<dummy.local2 name="local2" value="30"/>
	<dummy.external configSource="dummy.external.config"/>
  
</configuration>